{% extends "base.html" %}

{% block title %}{{ user.name }}{% endblock %}
{#{% if not current_user.is_guided %}{% endif %}#}

{#Content are all centered#}
{% block content %}
    <h1 class="title">
        Welcome {{ user.name }}!
    </h1>
    <a class="button is-info" href="{{ url_for('options') }}">Options</a>
    <a class="button is-danger" href="{{ url_for('auth.cancel') }}">Cancel my account</a>
    {#                    <section class="top_right_container">#}
{% endblock %}

{% block body %}
{% endblock %}
